* {
	box-sizing: border-box;
}

html, body {text-align: center;
	margin: 0;
}

header {background-color: pink}, footer {

}

.centered {text-align: left;

}

header .subtitle {


}

h1 {margin: auto;
	color:purple;
	font-family: 'Montserrat', sans-serif;

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {margin: auto;}

section {

}

h2 {
	color:purple;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;

}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-style: italic;

}

p {


}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {


}